<ion-view title="Settings">
    <ion-content>
      <button class="button button-block button-positive" ng-click="loginFace()" ng-hide="{{authData.expires}}"> 
         Login with Facebook
      </button>
      <button class="button button-block button-positive" ng-click="loginOutFace()" ng-show="{{authData.expires}}"> 
         Logout
      </button>

      <div class="list card" ng-show="{{authData.expires}}">
        <div class="item item-avatar">
          <img ng-src="{{authData.facebook.cachedUserProfile.picture.data.url}}">
          <h2>{{authData.facebook.displayName}}</h2>
          <p>{{authData.facebook.email}}</p>
        </div>
      </div>
    </ion-content>
</ion-view>