<ion-view view-title="Login">
  <ion-content class="padding">
    <button class="button icon-left ion-social-facebook button-block button-positive" ng-click="FacebookLogin()">
      Facebook Login
    </button>
    <button class="button icon-left ion-social-google button-block button-assertive" ng-click="GoogleLogin()">
      Google Login
    </button>
    <button class="button icon-left ion-social-google button-block button-assertive" ng-click="execute()">
      Storage
    </button>
  </ion-content>
</ion-view>
