<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Login" icon-off="ion-android-unlock" icon-on="ion-android-lock" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Feeds" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/feeds">
    <ion-nav-view name="tab-feeds"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Firebase Tab -->
  <ion-tab title="Firebase" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/firebase">
    <ion-nav-view name="tab-firebase"></ion-nav-view>
  </ion-tab>

  <!-- Stream Tab -->
  <ion-tab title="Stream" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/stream">
    <ion-nav-view name="tab-stream"></ion-nav-view>
  </ion-tab>

</ion-tabs>
